@using Microsoft.AspNetCore.Components.Routing
@using PoTicTac.Client
@using PoTicTac.Client.Layout

<Router AppAssembly="@typeof(Po.TicTac.Api.Components.App).Assembly" 
        AdditionalAssemblies="new[] { typeof(PoTicTac.Client.Pages.Home).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
